@charset "UTF-8";
/* колір осоновного тексту #757575; */
/* вторинний колір тексту #212121 ; */
/* #FFFFFF; */
/* акцент #2196F3; */
/* вторинний колір фону #2F303A; */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  border: none;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.container {
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.hero__overlay {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0;
  opacity: 0;
  margin-top: -1px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  vertical-align: top;
  letter-spacing: 0.03em;
}

.header__logo {
  color: #000000;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* site-nav */
.header__site-nav {
  display: flex;
  margin-left: 93px;
}

/* .site-nav .item {
  margin-right: 50px;
} */
/* .site-nav .item:last-child {
  margin-right: 0;
} */
/* .site-nav .item:not(:last-child) {
  margin-right: 50px; */
.site-nav__item-portfolio,
.site-nav__item-contacts {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
  position: relative;
}

.site-nav__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Contacts */
.header__site-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.site-contacts__item-phone {
  margin-left: 50px;
}

.site-contacts__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__link:hover, .site-contacts__link:focus,
.site-contacts__link:hover use,
.site-contacts__link:focus use {
  color: #2196f3;
  fill: #2196f3;
}

.site-contacts__envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.site-contacts__telephone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

/* 
.header-email::before {
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../images/envelope.svg);
}

.header-phone {
  display: flex;
  align-items: center;
}

.header-phone::before {
  content: "";
  width: 10px;
  height: 16px;
  margin-right: 10px;
  margin-left: 30px;
  background-image: url(../images/telephone.svg); */
/* } */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  color: #ffffff;
  text-align: center;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
}

.hero__title {
  margin-bottom: 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.features {
  padding-top: 94px;
  background-color: #ffffff;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list__item {
  max-width: 270px;
}

.features__svg-thumb {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features__icon {
  width: 70px;
  height: 70px;
}

/* .features-item.icon-antenna::before {
  background-image: url(../images/antenna.svg);
} */
/* .features-item.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.features-item.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.features-item.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
} */
/* .features-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.features-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.features-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.features-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
} */
.features__title {
  color: #212121;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__description {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.activity {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

.activity__title {
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity-list {
  display: flex;
  justify-content: space-between;
}

/* .what-we-do-list li:not(:last-child) {
  margin-right: 30px;
} */
.activity-list__item {
  position: relative;
}

.activity__overlay {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.activity__description {
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon-link:not(:last-child) {
  margin-right: 10px;
}

.socials__icon-link:last-child {
  margin-right: 0;
}

.socials__icon-link:hover, .socials__icon-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.socials__icon {
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__item:last-child {
  margin-right: 0;
}

.clients-list__item .clients__link:hover use, .clients-list__item:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.clients__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__logo-icon {
  display: block;
  margin-bottom: 20px;
}

.footer__logo {
  color: #ffffff;
}

.footer-contacts__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

/* .footer-contacts .link:last-child {
  margin-bottom: 0;
} */
/* /* .footer-contacts .link:last-child {
  margin-bottom: 0;
/* } */
/* (не розумію чому ці формули не працюють) */
.footer-contacts__address {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__join {
  margin-bottom: 20px;
}

.footer__wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__join-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link:last-child {
  margin-right: 0;
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: #2196f3;
}

.footer-socials__icon {
  width: 20px;
  height: 20px;
}

.subscribe {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 93px;
  margin-bottom: 20px;
  color: #ffffff;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 93px;
  padding-left: 16px;
  background-color: transparent;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:focus {
  border-color: #2196f3;
}

.subscribe__button {
  display: inline-flex;
  align-items: center;
  padding: 10px 29px;
  border-radius: 4px;
  margin-left: 12px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover, .subscribe__button:focus {
  background-color: #188ce8;
}

.subscribe__input-wrap {
  display: flex;
  align-items: center;
}

.subscribe__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .modal__icon,
.modal__close:focus .modal__icon {
  fill: #2196f3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.form__form-field {
  margin-bottom: 10px;
}

.form__input-wrap {
  position: relative;
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: #2196f3;
}

.form__label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:focus {
  border-color: #2196f3;
}

.form__form-textarea {
  margin-bottom: 20px;
}

.form-check__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-check__terms {
  color: #2196f3;
  text-decoration: underline;
}

.form-check__icon {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check__policy:checked + .form-check__text .form-check__icon {
  border: none;
  background-color: #2196f3;
}

.form__form-check {
  margin-bottom: 30px;
}

.modal__submit {
  display: inline-block;
  padding: 10px 55px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit:hover, .modal__submit:focus {
  background-color: #188ce8;
}

.modal__button-wrap {
  display: flex;
  justify-content: center;
}
/*# sourceMappingURL=main.css.map */