@import "./utils/vars";
@import "./base/reset";
@import "./utils/mixins";
@import "./base/common";
@import "./utils/placeholders";
@import "./utils/hidden-title";
@import "./utils/visually-hidden";
@import "./components/header";
@import "./components/work-buttons";
@import "./components/work-card-set";
@import "./components/footer";
