.form__form-field {
  margin-bottom: 10px;
}

.form__input-wrap {
  position: relative;
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  .form__input:focus + & {
    fill: $color-accent;
  }
  @include transition(fill);
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  &:focus {
    border-color: $color-accent;
  }
  @include transition(border-color);
}

.form__label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: $color-primary-text;
}

.form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: $color-accent;
  }
  @include transition(border-color);
}

.form__form-textarea {
  margin-bottom: 20px;
}

.form-check__text {
  @include centered-flex();
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $color-primary-text;
}

.form-check__terms {
  color: $color-accent;
  text-decoration: underline;
}

.form-check__icon {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  @include centered-flex();
  @include transition(background-color);
}

.form-check__policy:checked + .form-check__text {
  .form-check__icon {
    border: none;
    background-color: $color-accent;
  }
}

.form__form-check {
  margin-bottom: 30px;
}

.modal__submit {
  display: inline-block;
  padding: 10px 55px;
  background: $color-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $color-primary-white;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  @include transition(background-color);
}

.modal__button-wrap {
  display: flex;
  justify-content: center;
}
