.header {
  border-bottom: 1px solid #ececec;
  background-color: $color-primary-white;
}

.logo {
  color: $color-accent;
  font-family: Raleway, sans-serif;

  font-size: 26px;
  line-height: 1.19;
  vertical-align: top;
  letter-spacing: 0.03em;
}
.header__logo {
  color: #000000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-open-btn {
  background-color: #ffffff;
  padding-top: 22px;
  padding-bottom: 22px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.site-nav-wrap,
.header-contacts-wrap {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* site-nav */
.header__site-nav {
  display: flex;
  margin-left: 93px;
}

/* .site-nav .item {
  margin-right: 50px;
} */

/* .site-nav .item:last-child {
  margin-right: 0;
} */

/* .site-nav .item:not(:last-child) {
  margin-right: 50px; */

.site-nav__item-portfolio,
.site-nav__item-contacts {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $color-secondary-text;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  &--current {
    color: $color-accent;
    position: relative;
  }

  &--current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $color-accent;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  @include transition(color);
}

/* Contacts */

.header__site-contacts {
  @include centered-flex();
  margin-left: auto;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.site-contacts__item-phone {
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 50px;
  }
}

.site-contacts__link {
  color: $color-primary-text;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &:hover,
  &:focus,
  &:hover use,
  &:focus use {
    color: $color-accent;
    fill: $color-accent;
  }
  @include transition(color);
  @include transition(fill);
}

.site-contacts__envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $color-primary-text;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}

.site-contacts__telephone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $color-primary-text;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
}

/* 
.header-email::before {
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../images/envelope.svg);
}

.header-phone {
  display: flex;
  align-items: center;
}

.header-phone::before {
  content: "";
  width: 10px;
  height: 16px;
  margin-right: 10px;
  margin-left: 30px;
  background-image: url(../images/telephone.svg); */
/* } */
