.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;

  color: $color-secondary-text;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  background-color: $color-primary-white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  margin-bottom: 10px;
  color: $color-secondary-text;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-primary-text;

  margin-bottom: 16px;
}
