.works__card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @include transition(box-shadow);
}

/* .works-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.works-item:nth-child(3n) {
  margin-right: 0;
}

.works-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  background-color: rgba(33, 150, 243, 0.9);
  color: $color-primary-white;

  padding: 63px 24px;
  height: 100%;

  .card-set__item:hover & {
    transform: translateY(0);
  }
  transform: translateY(100%);
  @include transition(transform);
}

.card-set__info {
  padding: 20px 24px;
}

.card-set__title {
  margin-bottom: 4px;
  color: $color-secondary-text;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
