$color-primary-text: #757575;
$color-secondary-text: hsl(0, 0%, 13%);
$color-accent: #2196f3;
$color-primary-white: #ffffff;

// :root {
//   --primaty-text-color: #757575;
//   --title-text-color: hsl(0, 0%, 13%);
//   --accent-color: #2196f3;
//   --primary-white-color: #ffffff;
// }
/* колір осоновного тексту #757575; */
/* вторинний колір тексту #212121 ; */
/* #FFFFFF; */
/* акцент #2196F3; */
/* вторинний колір фону #2F303A; */
